li a {
	color: green;
}

body {
	background: white url("images/Destiny Competition.PNG") no-repeat;
	margin-bottom:50px;
}

#footer {
    position: fixed;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}