<!-- templates/registration/login.html -->
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>

<div class="container px-4 px-lg-5 my-5">
	<div class="text-center text-white">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
			<li class="nav-item"><a class="nav-link" href="{% url 'BestBuySearch:customer_signup' %}">Create Customer Account</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'BestBuySearch:vendor_signup' %}">Create Vendor Account</a></li>
		</ul>
	</div>
</div>