<!-- templates/registration/login.html -->

{% extends "registration/base.html" %}

{% block content %}
<div align="center">
	<h2>Log In</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="btn btn-dark">Log In</button>
	</form>
</div>

<div class="container-sm my-5">
	<p>Account creation required for site access.</p>
</div>

<div class="container-sm my-5">
	<a class="btn btn-primary" href="{% url 'BestBuySearch:customer_signup' %}">Create Customer Account</a>
</div>
<div class="container-sm my-5">
	<a class="btn btn-primary" href="{% url 'BestBuySearch:vendor_signup' %}">Create Vendor Account</a>
</div>


{% endblock %}