{% extends 'BestBuySearch/base_shop.html' %}

<!DOCTYPE html>

    <head>
        <!-- inherited -->

        {% block title %}
            {{ user.username }} Created Products
        {% endblock title %}

    </head>
    <body>
        <!-- Navigation-->
        
        <!-- Header-->


        <!-- Section-->
            {% block section_title %}
        		{% if user.is_vendor %}
            		<h2> Products created by {{ user.username }}</h2>
                {% else %}
                    <h2> All products </h2>
                {% endif %}
            {% endblock section_title %}
        		
            <!-- listings -->
            {% block listings %}
                {% if allproducts_list %}
                    {% for vendorproduct in allproducts_list %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Edit and delete -->     
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><a class="nav-link active" aria-current="page" href="{% url 'BestBuySearch:delete_product' vendorproduct.PID %}">Delete</a></div> 
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; left: 0.5rem"><a class="nav-link active" aria-current="page" href="{% url 'BestBuySearch:update_product' vendorproduct.PID %}">Edit</a></div>
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ vendorproduct.small_display_image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ vendorproduct.name }}</h5>
                                        <!-- Product price-->
                                        ${{ vendorproduct.cost }}
                                        <li>category: {{ vendorproduct.get_category_display }}</li>
                                        
                                        <li>payment type: {{ vendorproduct.get_payment_type_display }}</li>
                                        <li>quantity: {{ vendorproduct.quantity }}</li>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View details</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No products are available.</p>
                {% endif %}
            {% endblock listings %}
        </section>
		
        <!-- Footer-->
 
    </body>
</html>
