{% load static %}

<!DOCTYPE html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Product matching service" />
        <meta name="author" content="Seth Cram" />
        
        <title>
        
            {% block title %}
                Home
            {% endblock title %}
            - BestBuySearch Shop 
        </title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'BestBuySearch/eCommerce/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'BestBuySearch/eCommerce/css/styles.css' %}" rel="stylesheet" />

        {% block more_styling %}
        
        {% endblock more_styling %}

    </head>
    <body class="d-flex flex-column min-vh-100">
        
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            {% block navbar %}
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand">BestBuySearch</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'BestBuySearch:products' %}">Home</a></li>                                                         
                            
                            <!-- Search Types -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Search Type</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'BestBuySearch:exact_results' %}">Exact Search</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BestBuySearch:similar_results' %}">Similar Search</a></li>
                                    <li><a class="dropdown-item" href="{% url 'BestBuySearch:MultipleSearch' %}">Requirements Search</a></li>
                                </ul>   
                            </li>                           
                                            
                            {% if user.is_authenticated %}
                                {% if user.is_vendor %}
                                    <!-- Vendor Actions -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Vendor Action</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{% url 'BestBuySearch:add_product' %}">Add New Item</a></li>
                                            <li><a class="dropdown-item" href="{% url 'BestBuySearch:all_products' %}">Edit/Delete Item</a></li>
                                        </ul>   
                                    </li>        							
                                
                                    
                                {% else %}

                                <li class="nav-item"><a class="nav-link" href="{% url 'BestBuySearch:recommends' %}">Recommendations</a></li> 
                                
                                <!-- cart -->
                                <form class="d-flex">
                                    <a class="nav-link" type = "submit" href="{% url 'BestBuySearch:checkout' %}">
                                        <i class="bi-cart-fill me-1"></i>
                                            Cart
                                        <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                                    </a>
                                </form>
                                {% endif %}	
                            {% endif %}
                                    
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>    						
                        </ul>
                        
                    </div>
                </div>
            {% endblock navbar %}
        </nav>
        
        <!-- inner body -->
        {% block inner-body %}
            <!-- header -->
            {% block header %}
                {% block search_bar %}

                {% endblock search_bar %}
                {% block options %}
                
                {% endblock options %}

            {% endblock header %}

            <!-- section -->
            {% block section %}
                {% block section_title %}
                    
                {% endblock section_title %}

                {% block listings %}

                {% endblock listings %}
            {% endblock section %}

        {% endblock inner-body %}
		
        {% block pagination %}
        
        {% endblock pagination %}


        {% block footer%}
            <!-- Footer-->
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BestBuySearch 2022</p></div>
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a>Privacy</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.termsfeed.com/live/0625eac9-112a-4887-a7e6-c2b88100937e">Terms</a></li>
                    <li class="list-inline-item"><a>Support</a></li>
                </ul>
            </footer>
        {% endblock footer%}

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'BestBuySearch/eCommerce/js/scripts.js' %}"></script> 
    
        {% block more_footer %}
        
        {% endblock more_footer %}
    
    </body>
</html>
