{% extends 'BestBuySearch/base_shop.html' %}

<!DOCTYPE html>

    <head>
        <!-- inherited -->
    </head>
    <body>
        <!-- Navigation-->
        
        <!-- Header-->

        <!-- Section-->
            <!-- Most recent match -->
            {% block section_title %}
            	<h2> Most Recently Added </h2>
            {% endblock section_title %}

            <!-- listings -->
            {% block listings %}
                {% if vendorproduct_list %}
                    {% for vendorproduct in vendorproduct_list %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ vendorproduct.name }}</h5>
                                        <!-- Product price-->
                                        ${{ vendorproduct.cost }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    {% if user.is_customer %}
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'BestBuySearch:add_to_cart' vendorproduct.PID %}">Add to cart</a></div>
                                    {% endif %}
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View details</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No products are available.</p>
                {% endif %}
            {% endblock listings %}
		
        <!-- Footer-->
    </body>
</html>
