{% extends 'BestBuySearch/base_shop.html' %}

<!DOCTYPE html>

    <head>
        <!-- inherited -->
    </head>
    <body>
        <!-- Navigation-->
        
        <!-- Header-->

        <!-- Section-->
            <!-- Most recent match -->
            {% block section_title %}
            	<h2> Most Recently Added </h2>
            {% endblock section_title %}

            <!-- listings -->
            {% block listings %}
                {% if vendorproduct_list %}
                    {% for vendorproduct in vendorproduct_list %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ vendorproduct.small_display_image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ vendorproduct.name }}</h5>
                                        <!-- Product price-->
                                        ${{ vendorproduct.cost }}
                                        <!-- Product pay type-->
                                        <p> {{ vendorproduct.get_payment_type_display }} </p>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    {% if user.is_customer %}
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'BestBuySearch:add_to_cart' vendorproduct.PID %}">Add to cart</a></div>
                                    {% endif %}
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'BestBuySearch:product_details' vendorproduct.PID %}">View details</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No products are available.</p>
                {% endif %}
            {% endblock listings %}

        {% block pagination %}
    
        {% endblock pagination %}
        
        {% block footer %}
            <!-- Footer-->
            <footer class="py-5 bg-dark mt-auto">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BestBuySearch 2022</p></div>
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a>Privacy</a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://www.termsfeed.com/live/0625eac9-112a-4887-a7e6-c2b88100937e">Terms</a></li>
                    <li class="list-inline-item"><a>Support</a></li>
                </ul>
            </footer>
        {% endblock footer %}
    </body>
</html>
